@model IEnumerable<MultiLayerApp.DAL.Core.Domian.Entities.Phone>

    <div class="container">
        <h3>Список телефонов</h3>
        <hr />

        <p>
            <a asp-action="Create" class="">Добавить</a>
        </p>
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Производитель</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var phone in Model)
                {
                    <tr>
                        <td>@phone.Company</td>
                        <td>@phone.Name</td>
                        <td>@phone.Price</td>
                        <td>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@phone.Id">Данные</a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Update" asp-route-id="@phone.Id">Изменить</a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@phone.Id">Удалить</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>Данные отсутствуют</p>
        }
    </div>